<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>💖 Hello World!</h1>
    <p>Welcome to your Electron application.</p>
    <button id="#btn-submit" onclick="window.ipcRenderer.send('log','Message!')">Submit</button>
    <form action="http://localhost:3060/api/">
      <input name="text" value="tt"/>
      <button id="#btn-pdf" type="submit" onclick="window.ipcRenderer.send('pdf','Message!')">pdf</button>
    </form>
    <script src="./index.js">
    </script>
  </body>
</html>
